/* @tailwind base; */

.flex {
  display: flex
}

.h-screen {
  height: 100vh
}

.w-screen {
  width: 100vw
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.text-center {
  text-align: center
}

.capitalize {
  text-transform: capitalize
}